<div class="mt-3 container">
<div class="login-page">
  <div class="row justify-content-center">
    <div class="col-md-6  d-flex justify-content-center align-items-center">
      <span class="yogasana-text">
        Yogasana
      </span>
    </div>

    <div class="col-md-6 d-flex justify-content-center">
      <div *ngIf="loginBox==true" class="login-box p-3">
        <h4><strong>Giriş Yap</strong></h4>
        <div class="text-center">
          <form [formGroup]="loginForm">
            <div class="form-group mt-4">
              <input
                type="email"
                formControlName="email"
                placeholder="E-posta"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="form-group mt-4">
              <input
                type="password"
                formControlName="password"
                placeholder="Parola"
                class="form-control"
                id="exampleInputPassword1"
              />
            </div>

            <!--[disabled]="!loginForm.valid"-->
            <button  type="submit" (click)="login()" class="mt-4 p-2 btn btn-pink">
              <strong *ngIf="isLoaded==false">Giriş Yap</strong>
              <app-spinner *ngIf="isLoaded==true"></app-spinner>
            </button>
              
          </form>
          <div class="mt-3">
            <a href="/" class="">Şifreni mi unuttun?</a>
          </div>
          <hr/>
          <button type="button" (click)="setLoginBox()" class="mt-2 p-1 btn btn-green text-white"><strong>Yeni Hesap Oluştur</strong></button>
          <p class="mt-3 support">
             Desteğe ihtiyacın mı var?<a href="/"><strong> Bize ulaş</strong></a>
          </p>
        </div>
      </div>

      <div *ngIf="loginBox==false" class="register-box p-3">
        <h4><strong>Yeni bir hesap oluşur</strong></h4>
        <div class="text-center">
        <form [formGroup]="registerForm">
          <div class="form-group mt-4">
            <input
              type="email"
              placeholder="E-posta"
              formControlName="email"
              class="form-control"
              id="exampleInputEmail1"
            required/>
          </div>
          <div class="form-group mt-2">
            <input
              type="text"
              placeholder="Ad"
              formControlName="firstname"
              class="form-control"
              id="firstname"
            required/>
          </div>
          <div class="form-group mt-2">
            <input
              type="text"
              placeholder="Soyad"
              formControlName="lastname"
              class="form-control"
              id="lastname"
            required/>
          </div>
          <div class="form-group mt-2">
            <input
              type="password"
              placeholder="Parola"
              formControlName="password"
              class="form-control"
              id="password1"
            required/>
          </div>
          <div class="form-group mt-">
            <input
              type="password"
              placeholder="Parola Tekrarı"
              formControlName="confirmPassword"
              class="form-control"
              id="password2"
            required/>
          </div>
          <button type="submit" (click)="register()" class="mt-4 p-2 btn btn-pink"><strong>Kaydol</strong></button>
        </form>
        <div class="mt-3">
          <a href="/" class="">Şifreni mi unuttun?</a>
        </div>
        <hr/>
        <button type="button" (click)="setLoginBox()" class="mt-2 p-1 btn btn-green text-white"><strong>Giriş Yap</strong></button>
        <p class="mt-3 support">
           Desteğe ihtiyacın mı var?<a href="/"><strong> Bize ulaş</strong></a>
        </p>
      </div>
      </div>
    </div>
  </div>
</div>
</div>